<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<!-- Connection string untuk MySQL 8.0 dengan password kosong -->
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Database=db_surat;Uid=root;Pwd=;SslMode=none;AllowPublicKeyRetrieval=True;CharSet=utf8mb4;ConnectionTimeout=30;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ApplicationName" value="Sistem Informasi Surat" />
		<add key="Version" value="1.0.0" />
	</appSettings>
</configuration>